/.metadata/
EjercicioVideojuego/
jpapractice/target
jpapractice/.classpath
jpapractice/.project
jpapractice/.settings/
Peluqueria_Canina/target
Peluqueria_Canina/.classpath
Peluqueria_Canina/.project
Peluqueria_Canina/.settings/