/.metadata/
EjercicioVideojuego/
jpapractice/target
jpapractice/.classpath
jpapractice/.project
jpapractice/.settings/
Peluqueria_Canina/target
Peluqueria_Canina/.classpath
Peluqueria_Canina/.project
Peluqueria_Canina/.settings/
Programación_Funcional/.metadata
Programación_Funcional/Ejercicio_1/target
Programación_Funcional/Ejercicio_1/.classpath
Programación_Funcional/Ejercicio_1/.project
Programación_Funcional/Ejercicio_1/.settings/
Programación_Funcional/Ejer2/target
Programación_Funcional/Ejer2/.classpath
Programación_Funcional/Ejer2/.project
Programación_Funcional/Ejer2/.settings/